<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Flynn Dashboard</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <link href="<%= asset_path('dashboard.css') %>" rel="stylesheet" />
  </head>

  <body>
    <section id="nav">
    </section>

    <div id="main">
    </div>

    <div id="secondary">
    </div>

    <script type="application/javascript" src="<%= ENV['ENVIRONMENT'] == 'development' ? asset_path('react.dev.js') : asset_path('react.js') %>"></script>
    <script type="application/javascript" src="<%= asset_path('marbles.js') %>"></script>
    <script type="application/javascript" src="<%= asset_path('moment.js') %>"></script>
    <script type="application/javascript" src="<%= asset_path('es6promise.js') %>"></script>
    <script type="application/javascript" src="<%= asset_path('dashboard.js') %>"></script>
  </body>
</html>
