<div class="logos">
  <h3 id="sponsortitle">Sponsors</h3>
  <ul class="list-unstyled logos-wrapper">
    <li class="coinbase"><a href="https://coinbase.com/"><%= image_tag "coinbase.png", :alt => "coinbase" %></a></li>
    <li class="shopify"><a href="http://shopify.com"><%= image_tag "shopify@2x.png", :alt => "Shopify" %></a></li>
    <li class="mnx"><a href="http://www.mnxsolutions.com"><%= image_tag "mnx.png", :alt => "MNX" %></a></li>
    <li class="lab-division"><a href="http://www.labdivision.com"><%= image_tag "lab-division.png", :alt => "Lab Division" %></a></li>
    <li class="nebula"><a href="https://www.nebula.com"><%= image_tag "nebula.png", :alt => "Nebula" %></a></li>
    <li class="strategic-data"><a href="http://strategicdata.com.au"><%= image_tag "strategic-data.png", :alt => "Strategic Data" %></a></li>
    <li class="dyn-drop"><a href="http://www.dyndrop.com"><%= image_tag "dyn-drop.png", :alt => "DynDrop" %></a></li>
    <li class="locaweb"><a href="http://locaweb.com"><%= image_tag "locaweb.png", :alt => "Locaweb" %></a></li>
    <li class="likenpay"><a href="http://www.likeandpay.ru"><%= image_tag "like-n-pay.png", :alt => "Like'n'Pay" %></a></li>
    <li class="centurylink"><a href="http://www.centurylink.com"><%= image_tag "century-link.png", :alt => "Century Link" %></a></li>
    <li class="hay"><a href="https://howareyou.com"><%= image_tag "how-are-you.png", :alt => "HAY" %></a></li>
    <li class="cloud-logistics"><a href="http://gocloudlogistics.com"><%= image_tag "cloud-logistics.png", :alt => "Cloud Logistics" %></a></li>
    <li class="cloud-africa"><a href="https://www.cloudafrica.net"><%= image_tag "cloud-africa.png", :alt => "Cloud Africa" %></a></li>
    <li class="scout"><a href="http://scoutapp.com"><%= image_tag "scout.png", :alt => "Scout" %></a></li>
    <li class="full-360"><a href="http://www.full360.com/"><%= image_tag "full-360.png", :alt => "Full 360" %></a></li>
    <li class="snabb"><a href="http://snabb.co"><%= image_tag "snabb.png", :alt => "Snabb" %></a></li>
  </ul>
</div>
