<% head_tag('meta', {
  class: 'swiftype',
  name: 'published_at',
  'data-type' => 'date',
  content: current_page.data[:date].to_s.to_time.iso8601
}) %>
<% wrap_layout(:layout) do %>
  <div class="content narrow">
    <article class="post" data-swiftype-name="body" data-swiftype-type="text">
      <header>
        <% if date = current_page.data[:date] %>
          <time datetime="<%= date.to_s.to_time.iso8601 %>"><%= Date.parse(date.to_s).strftime('%b %e, %Y') %></time>
        <% end %>
        <h1 data-swiftype-name="title" data-swiftype-type="string"><%= current_page.data[:title] %></h1>
      </header>

      <%= yield %>
    </article>

    <br /><br />

    <%= partial :mailing_list %>
  </div>
<% end %>
