<% wrap_layout(:base) do %>
  <div class="container-outer">
    &nbsp;
    <div class="container-inner">
      <div class="content">
        <nav class="nav-list sidebar">
          <ul>
            <li class="nav-header">Documentation</li>
            <%= nav_link_with_active("Introduction", "/docs") %>
            <%= nav_link_with_active("Installation", "/docs/installation") %>
            <%= nav_link_with_active("Using Flynn", "/docs/using-flynn") %>
            <%= nav_link_with_active("Architecture", "/docs/architecture") %>
            <%= nav_link_with_active("Roadmap", "/docs/roadmap") %>
            <%= nav_link_with_active("Contributing", "/docs/contributing") %>
            <%= nav_link_with_active("Development", "/docs/development") %>
            <%= nav_link_with_active("Command Line", "/docs/cli") %>
            <%= nav_link_with_active("Trademark Guidelines", "/docs/trademark-guidelines") %>
          </ul>

          <ul>
            <li class="nav-header">Language Guides</li>
            <%= nav_link_with_active("How To Deploy Go", "/docs/how-to-deploy-go") %>
            <%= nav_link_with_active("How To Deploy Java", "/docs/how-to-deploy-java") %>
            <%= nav_link_with_active("How To Deploy Node.js", "/docs/how-to-deploy-nodejs") %>
            <%= nav_link_with_active("How To Deploy PHP", "/docs/how-to-deploy-php") %>
            <%= nav_link_with_active("How To Deploy Python", "/docs/how-to-deploy-python") %>
            <%= nav_link_with_active("How To Deploy Ruby", "/docs/how-to-deploy-ruby") %>
          </ul>

          <ul>
            <li class='divider'></li>
            <li class='nav-header'>Page Contents</li>
          </ul>

          <%=
            renderer = Redcarpet::Markdown.new(Redcarpet::Render::HTML_TOC.new(nesting_level: current_resource.data.toc_level || 6))
            contents = File.read(current_page.source_file).gsub(/\A(---\s*\n.*?\n?)^(---\s*$\n?)/m, '') # strip out YAML frontmatter
            renderer.render(contents)
          %>
        </nav>
        <div class="content-with-sidebar">
          <%= yield %>
        </div>
      </div>
    </div>
    &nbsp;
  </div>
<% end %>
