<% wrap_layout(:base) do %>
  <div class="container-outer">
    &nbsp;
    <div class="container-inner">
      <div class="content">
        <nav class="nav-list sidebar">
          <ul>
            <li class="nav-header">Documentation</li>
            <%= nav_link_with_active("Introduction", "/docs") %>
            <%= nav_link_with_active("Architecture", "/docs/architecture") %>
            <%= nav_link_with_active("Roadmap", "/docs/roadmap") %>
            <%= nav_link_with_active("Contributing", "/docs/contributing") %>
            <%= nav_link_with_active("Development", "/docs/development") %>
            <%= nav_link_with_active("Trademark Guidelines", "/docs/trademark-guidelines") %>
          </ul>

          <ul>
            <li class='divider'></li>
            <li class='nav-header'>Page Contents</li>
          </ul>

          <%= Redcarpet::Markdown.new(MarkdownHTMLTOC).render(File.read(current_page.source_file)) %>
        </nav>
        <div class="content-with-sidebar">
          <%= yield %>
        </div>
      </div>
    </div>
    &nbsp;
  </div>
<% end %>
